*{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.navbar{
  padding-left: 140px;
  padding-right: 140px;
  box-shadow: 0 4px 8px rgba(0,0,0,.15);
}
.brand-name{
  font-family: sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #432d1d;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  .brand-name {
    font-size: 20px;
  }
}
.brand-name:hover{
  color: #7a6a5e;
  scale: 1.1;
  transition: all 0.3s ease;
}
.btn_cart{
  color: green;
  border-color: green;
}
.btn_cart:hover{
  color: white;
  background-color: green;
}
.dropdown-item{
  color: #432d1d;
}
